---
layout: default
---
<body>
<script src="{{ "/assets/scripts/canvas.js" | relative_url }}"></script>
<script>
    COLORS = {
    {% for color in site.data.colors %}
    "{{ color.name }}": "{{ color.hex }}",
    {% endfor %}
    }
</script>
<canvas id="canvas" class="initially-hidden">
    <!-- prerendered tiling image for nojs clients -->
</canvas>
<main>
    <nav>
    <h1 class="nav-title">
        <a class="title-link" href="{{ "/" | relative_url }}">
        {{ site.title | escape }}
        </a>
    </h1>
    <div class="nav-links">
        <a class="nav-link" href="{{ "/" | relative_url }}">home</a>
        <a class="nav-link" href="{{ "/blog" | relative_url }}">works</a>
        <a class="nav-link" href="{{ "/about" | relative_url }}">about</a>
    </div>
    </nav>
    <hr>
    {{ content }}
    <iframe src="https://qwd.grebedoc.dev/qwdring/olivia/banner.html", width="400", height="40"></iframe>
</main>
</body>
